<header class="bg-white border-b border-gray-200 shadow-sm">
  <div class="flex items-center justify-between px-6 py-4">
    <!-- Botón -->
    <div class="flex items-center space-x-4">
      <button
        class="p-2 rounded-lg hover:bg-gray-500 bg-gray-200 transition-colors"
        (click)="onToggleSidebar()"
      >
        Mostrar / Ocultar
      </button>
    </div>

    <div class="flex items-center space-x-4">
      @if (user$ | async; as user) {
        <p>{{ user.nombre }}</p>
        <button (click)="onLogout()" class="bg-red-500 text-white px-6 py-3 rounded shadow hover:bg-red-700 transition-colors duration-300">
          Cerrar Sesión
        </button>
      }

    </div>
  </div>
</header>
